<div style="ALIGN-CONTENT: center; DISPLAY: flex; JUSTIFY-CONTENT: center; text-transform: capitalize; background-color: rgb(118, 124, 124);bottom: 0; position: absolute; width: 100%;">
    <p class="mt-2 fw-bold">copyright@2022 Demo Authentication</p>
</div>