<!DOCTYPE html>
<html lang="en">
<body>
    <div class="" style="background-color: rgb(118, 124, 124);">
        <a type="button" class="btn btn-primary mt-2 mb-2" href="/auth/login">Login</a>
        <a type="button" class="btn btn-primary mt-2 mb-2" href="/auth/register">Register</a>
    </div>
</body>
</html>