<%- include('partials/head'); %>
<%- include('partials/navbar'); %>

<div class="container">
    <h1>Welcome to the authentication</h1>
    <div class="mb-3 mt-3">
        <a type="button" href="/book/list" class="btn btn-primary mb-3">Book Shop</a>
    </div>
</div>


<%- include('partials/footer'); %>
