<%- include('../partials/head'); %>
<%- include('../partials/navbar'); %>

<div class="container">
    <h2>Book page</h2>
    <div class="mb-3 mt-3">
        <a type="button" href="/" class="btn btn-primary mb-3">Back</a>
    </div>
</div>

<%- include('../partials/footer'); %>